<h1>Heroes de <small>Marvel y DC</small></h1>
<hr>

<!--Card-column clase de bootstrap y card copiada de Bootstrap -->
<!-- Tarjeta que se tiene que duplicar en función de la cantidad de heroes-->
<div class="card-columns">

    <!-- Se carga el componente heroe-tarjeta (componente hijo) que contiene la tarjeta de un heroe y con ngFor se carga una por cada heroe existente-->
    <!-- Se necesita mandar información desde aquí al componente hijo heroe-tarjeta: con @Input() y aquí poner [heroe]="heroe" y [idx]="i"-->
    <!-- Para escuchar cualquier evento sobre el heroeSeleccionado utilizamos los () (heroeSeleccionado) y se recupera el evento con $event-->
    <app-heroe-tarjeta (heroeSeleccionado)="verHeroe($event)" [heroe]="heroe" [idx]="i" *ngFor="let heroe of heroes; let i = index"></app-heroe-tarjeta>

</div>